.body {
    #tab {
        font-weight: bold;
    }
    #text {
        .result {
            .dataTables_wrapper {
                #wordFrequency {
                    tr {
                        td:first-child, th:first-child {
                            width:10px!important;
                        }
                    }
                }
            }
        }
    }
    #upload {
        .dropzone {
            .dz-preview {
                .dz-error-message {
                    top: 150px!important;
                }
            }
        }
        .download-link {
            .download-info {
                margin-top: 20px;
                h3 {
                    width: 50%;
                    float: left;
                }
                button {
                    float: right;
                }
            }
        }
    }
}
