.body {
    #text {
        .result {
            .dataTables_wrapper {
                .export-one {
                    float: right;
                    margin-left: 20px;
                    padding:0.1rem 0.75rem
                }
            }
        }
    }
}
