.body {
    #tab {
        font-weight: bold;
    }
    #text {
        .result {
            .dataTables_wrapper {
                #wordFrequency {
                    tr {
                        td:first-child, th:first-child {
                            width:10px!important;
                        }
                    }
                }
            }
        }
    }
}
